.login-container {
    display: flex;
    justify-content: center;;
    align-items: center;
    height: 100%;
}

ion-item {
    margin-bottom: 16px;
}

ion-button {
    margin-top: 16px;
}

ion-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}