<p>Mi nombre es: {{ nombre }}</p>
<p>La suma de 1+2 es igual a {{ 1 + 2 }}</p>
<input type="text" />
@if (nombre) {
<p>El nombre no está vacío</p>
} @else {
<p>El nombre está vacío</p>
}

<button class="btn btn-info" (click)="cambiarAnimal()">Cambiar animal</button>

@if (animal == 'gatito') {
<img src="https://i.pinimg.com/736x/ae/c8/9b/aec89b5fbfcf861805057dd7e0e7d3f7.jpg" alt="Gatito" />
} @else {
<img src="https://i.pinimg.com/736x/21/99/f7/2199f7d6e3e471005a8d83d8c62fb5a8.jpg" alt="Perrito" />
}

<button class="btn btn-info" (click)="abarrotesPablito()">
  Obtener personajes de Rick y Morty
</button>

<br><br><br><br>

@if (pikachu) {
  <div class="card" style="width: 18rem">
    <img [src]="pikachu.sprites?.front_default" class="card-img-top" alt="Pikachu" />
    <div class="card-body">
      <h5 class="card-title">{{ pikachu.forms[0]?.name }}</h5>
      <p class="card-text">
        Tipo: {{ pikachu.types[0]?.type?.name }} <br>
        Altura: {{ pikachu.height }} <br>
        Peso: {{ pikachu.weight }} <br>
      </p>
      <button class="btn btn-primary" (click)="traerAPikachu()">Actualizar</button>
    </div>
  </div>
} @else {
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Pikachu no cargado</h5>
      <button class="btn btn-primary" (click)="traerAPikachu()">Cargar Pikachu</button>
    </div>
  </div>
}

<br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col d-flex flex-wrap gap-3">
      @for (personaje of personajes; track personaje) {
      <div class="card" style="width: 18rem">
        <img [src]="personaje.image" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ personaje.name }}</h5>
          <p class="card-text">
            {{ personaje.status }} - {{ personaje.species }} - {{ personaje.origin.name }} -
            {{ personaje.location.name }}
          </p>
          <a [href]="personaje.url" target="_blank" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      } @empty {
      <h1>Ups, no encontramos personajes pipipi</h1>
      }
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
